.btnHome{
    position: fixed;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    color: rgb(86, 205, 235);
  }
  
  button{
    display: block;
    width: 180px;
    height: 140px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    background-color: rgb(86, 205, 235);
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    border-radius: 100%;
    color: rgb(0, 0, 0);
  }
  
  button span{
    position: relative;
    z-index: 2;
    font-weight: bold;
  }

