 /*body{*/
 /*    background: url(background.jpg) no-repeat;*/
 /*    background-attachment: fixed;*/
 /*   background-size: cover;*/
 /*}*/

 #home{
     display: block;
 }

 .tabcontent {
     display: none;
 }
 .menuBar{
     background: #4c8fa4;
 }
 nav {
     margin-top: 0px;
     padding: 24px;
     text-align: center;
     font-family: Calibri;
     box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
     background: #308ea4;
 }


nav a{
     transition: 0.3s ease;
     background: #4c8fa4;
     color: #ffffff;
     font-size: 20px;
     text-decoration: none;
     border-top: 4px solid #4c8fa4;
     border-bottom: 4px solid #4c8fa4;
     padding: 20px 0;
     margin: 0 20px;
 }
 nav a:hover {
     border-top: 4px solid #ffffff;
     border-bottom: 4px solid #ffffff;
     padding: 6px 0;
 }


/* About Modal */
 .modal {
     display: none; /* Hidden by default */
     position: fixed; /* Stay in place */
     z-index: 1; /* Sit on top */
     left: 0;
     top: 0;
     width: 100%; /* Full width */
     height: 100%; /* Full height */
     overflow: auto; /* Enable scroll if needed */
     background-color: rgb(0,0,0); /* Fallback color */
     background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
 }

 /* Modal Content/Box */
 .modal-content {
     background-color: #fefefe;
     margin: 15% auto;
     padding: 20px;
     border: 1px solid #888;
     width: 50%;
     animation-name: animatetop;
     animation-duration: 0.4s }

 /* The Close Button */
 .close {
     color: #aaa;
     float: right;
     font-size: 28px;
     font-weight: bold;
 }

 .close:hover,
 .close:focus {
     color: black;
     text-decoration: none;
     cursor: pointer;
 }
 @keyframes animatetop {
     from {top: -300px; opacity: 0}
     to {top: 0; opacity: 1}
 }

 #logo{
     float: left;
 }

 #welcomeUser{
     float: left;
     padding-left: 40px;
 }

 footer {
    height: 7%;
    background-color: #2c3e50;
    color: #fff;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.text-uppercase{
    background-color: #2c3e50;
}

footer #linkein-logo-elit #linkein-logo-chana{
    background-color: #2c3e50;
    
}
p{
    color: rgb(29, 145, 165);
    display: inline;
    font-family: Calibri;
    font-weight: bold;
    font-size: 40px;
}